form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(241, 234, 234);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.btn {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.btn:hover {
  background-color: #0056b3;
}
