:root {
  display: grid;
  justify-items: center;
  margin-top: 150px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
  justify-items: center;
  margin-bottom: 20px;
  padding: 17px;
  border: 1px solid rgb(225, 228, 235);
  border-radius: 15px;
  background-color: rgb(225, 228, 235);
}

.buttonRed {
  background-color: red;
  color: white;
  width: 60px;
  height: 20px;
  border-radius: 15px;
  font-size: 15px;
}

.buttonOrange {
  background-color: orange;
  color: white;
  width: 60px;
  height: 20px;
  border-radius: 15px;
  font-size: 15px;
}

.buttonGreen {
  background-color: green;
  color: white;
  width: 60px;
  height: 20px;
  border-radius: 15px;
  font-size: 15px;
}

.deadlineBox,
.participantBox {
  display: flex;
}

.participantBox img {
  width: 20px;
}

.deadlineBox img {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}

.Task,
.project,
.taskDate,
.participants {
  font-size: 15px;
  text-align: start;
}
