.itemWrapper {
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.itemWrapper > div {
  width: 25%;
  padding-left: 20px;
}

.title {
  font-weight: bold;
}

.priority {
  text-align: center;
  border-radius: 15px;
  width: fit-content;
  padding: 5px;
}

.lowPriority {
  color: white;
  background-color: var(--green);
}

.mediumPriority {
  color: white;
  background-color: var(--orange);
}

.highPriority {
  color: white;
  background-color: var(--red);
}

.date {
  gap: 5px;
  display: flex;
  align-items: center;
}

.assignedTo {
  gap: 5px;
  display: flex;
  align-items: center;
}

.project {
  font-weight: bold;
}
