.listWrapper {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 10px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
